body {
  background-color: #282c34;
  text-align: center;
}

h1{
  font-family: 'Indie Flower', cursive;
  color:#d0baa8;
}

footer{
  margin: 50px 0;
  font-family: 'Indie Flower', cursive;
  font-size: 10px;
  color:#d0baa8;
}

