body {background-image: url(background.jpg);
  background-repeat: inherit;
  display: flex;
 }

h1{
  font-family: 'Indie Flower', cursive;
  color:#d0baa8;
  text-align: center;
  font-size: 55px;
  font-family: 750px;
  margin-bottom: 50px;
  border: 2px black;
  
}

footer{
  display: flex;
  justify-content: flex-end;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color:#d0baa8;
}

a {
  color: white;
}