.Meaning section{
  display: flex;
  flex-flow: column wrap;
  padding: 20px ;
  border-radius: 10px ;
  box-shadow: 2px 2px 2px ;
}


h3{font-family: 'Indie Flower', cursive;
    font-size: 25px;
    color:#d0baa8;
    text-transform:capitalize;
    font-weight: 800px;
}